<div class="my-5">
  <div class="container bg-light shadow-lg p-5 m-auto">
    <h1 class="display-5">Editing User</h1>

    <%= render 'form', user: @user %>

    <div class="d-flex justify-content-center">
      <%= link_to admin_user_path(@user), class: 'btn btn-primary m-2' do %>
        <i class="fa-solid fa-eye"></i> Afficher
      <% end %>
      <%= link_to admin_users_path, class: 'btn btn-outline-secondary m-2' do %>
        <i class="fa-solid fa-arrow-left"></i> Retour
      <% end %>
    </div>
  </div>

</div>
